#head{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.set-center{
    margin-left: auto;
    margin-right: auto;
}

.inline-e{
    display: flex;
    justify-content: center;
}

#tlist{
    background-color: rgb(255, 200, 200);
}

#todo-head{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
}
