#head{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.set-center{
    margin-left: auto;
    margin-right: auto;
}

.inline-e{
    display: flex;
    justify-content: center;
}

#t-list{
    background-color: white;
}
